{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<div class = "media-teaser">
  <div class = "item">
    <div class = "thumbnail">
      <section class = "item-body">
        <article{{ attributes }}>
          {% if media_type == "audio" %}
            <img src="/themes/eminent_sardar/images/audio.png" class="img-responsive">
          {% elseif media_type == "document" %}
            <img src="/themes/eminent_sardar/images/pdf.png" class="img-responsive">
          {% elseif media_type == "video" %}
            <img src="/themes/eminent_sardar/images/video.png" class="img-responsive">
          {% else %}
            {{ content.field_media_image }}
          {% endif %}
          <div class="text-center media-teaser-title">
            <h2>
             <a href = "media/{{ media_id }}" title = " {{ media_teaser_title }}">{{ truncated_media_teaser_title }}</a>
            </h2>
          </div>
          <div>
            <a href="/media/{{ media_id }}" rel="bookmark" class="pull-right"> Read more </a>
          </div>
          <hr>
          <div class = "clear-fix">
          {{ addtotimeline }}
          {{ addtoplaylist }}
          </div>
        </article>
      </section>
    </div>
  </div>
</div>
