{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  <section class="container media_details" id="media_details">
    <div class="meidiablock">
      <div class="row">
        <div class="col-sm-12">
            <div class="col-md-7">
              <div class="media-preview equal_height">
                {% if content %}
                  <section class="image">
                    {{ content.field_media_image }}
                  </section>
                  <div class="pdf-holder-ex">
                    {{ content.field_media_document }}
                  </div>
                  <div>
                    {{ content.field_media_audio }}
                  </div>
                  <div>
                    {{ content.field_media_video }}
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="col-md-5">
                <div class="media-preview-description equal_height">
                    <p>{{ content.field_dc_description }}</p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section
</article>
