{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<div class = "media-teaser">
<div class = "item equal_height">
<div class = "thumbnail">
  <section class = "item-body grid-equal-height">
    <article{{ attributes }}>
      {{ content.thumbnail }}
      {{ content.field_media_image }}
      <div class="text-center">{{ content.field_dc_title }}</div>
      <div>
        <a href="{{ url }}" rel="bookmark" class = "pull-right"> Read more </a>
      </div>
      <hr>
      <div class = "clear-fix">
      {{ addtotimeline }}
      {{ addtoplaylist }}
      </div>
    </article>
  </section>
</div>
</div>
</div>
