{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div class = "{{ search_list_wrapper_class }}">
  <div class="search-results-tab">
    <div class="search-result-nav">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" id = "media-tab" class = "search-tab"><a href=" {{ media_url }}" role="tab">
          {% trans %}
            Media
          {% endtrans %}
        </a></li>
        <li role="presentation" id = "exhibition-tab" class = "search-tab"><a href=" {{ exhibitions_url }}" role="tab">
          {% trans %}
            Thematic collection
          {% endtrans %}
        </a></li>
        <li role="presentation" id = "timeline-tab" class = "search-tab"><a href="{{ timeline_url }}" role="tab">
          {% trans %}
            Timeline
          {% endtrans %}
        </a></li>
        <li role="presentation" id = "quote-tab" class = "search-tab"><a href="{{ quote_url }}" role="tab" >
          {% trans %}
            Quote
          {% endtrans %}
        </a></li>
      </ul>
    </div>
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title }}
    {{ title_suffix }}

    {% if header %}
      <header>
        {{ header }}
      </header>
    {% endif %}

    {{ exposed }}
    {{ attachment_before }}

    {{ rows }}
    {{ empty }}
    {{ pager }}

    {{ attachment_after }}
    {{ more }}

    {% if footer %}
      <footer>
        {{ footer }}
      </footer>
    {% endif %}

    {{ feed_icons }}
  </div>
  </div>
</div>
