{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}


<div class="tab-content row">
  <div role="tabpanel" class="tab-pane active" id="exhibition">
    <div class = "row">
      {% for row in play_list_row %}
        {%
          set row_classes = [
            default_row_class ? 'views-row col-md-4',
          ]
        %}
        <div{{ row.attributes.addClass(row_classes) }}>
          {{ row.content }}
        </div>
      {% endfor %}
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="timeline">
    <div class = "row">
      {% for timelinerow in time_line_collection_row %}
        {%
          set row_classes = [
            default_row_class ? 'views-row col-md-4',
          ]
        %}
        <div{{ timelinerow.attributes.addClass(row_classes) }}>
          {{ timelinerow.content }}
        </div>
      {% endfor %}
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="quote">
    <div class = "row">
      {% for quoterow in quote_row %}
        {%
          set row_classes = [
            default_row_class ? 'views-row',
          ]
        %}
        <div{{ quoterow.attributes.addClass(row_classes) }}>
          {{ quoterow.content }}
        </div>
      {% endfor %}
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="media">
    {% for mediarow in media_row %}
      {%
        set row_classes = [
          default_row_class ? 'views-row col-md-4',
        ]
      %}
      <div{{ mediarow.attributes.addClass(row_classes) }}>
        {{ mediarow.content }}
      </div>
    {% endfor %}
  </div>
</div>


