<div class="row">
    <div class="title"> <a href="{{ url }}">{{ title }}</a> </div>
    <div class="author"> {{ author }} </div>
    <div class="publishDate"> {{ publishDate }} </div>
    <div class="publisher"> {{ publisher }} </div>
    <div class="topic"> {{ topic }} </div>
</div>

