{#
/**
 * @file
 * Default theme implementation to display a formatted blazy image/media field.
 *
 * The Blazy supports core image, responsive image and media entity.
 * If iframe switcher is enabled, audio/video iframe will be hidden below image
 * overlay, and only visible when toggled. Otherwise iframe only, and image is
 * emptied.
 *
 * Available variables:
 *   - image: A collection of image data.
 *   - attributes: An array of attributes applied to .media container.
 *   - content_attributes: An array of content attributes, including iframe SRC.
 *   - settings: An array containing the given settings.
 *   - url: An optional URL the image can be linked to, can be any of
 *       audio/video, or entity URLs, when using Colorbox/Photobox, or Link to
 *       content.
 *   - url_attributes: An array of URL attributes, lightbox or content links.
 *
 * @see template_preprocess_blazy()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'media', 'media--blazy',
    settings.lazy ? 'media--loading',
    settings.type ? 'media--' ~ settings.type,
    settings.ratio ? 'media--ratio media--ratio--' ~ settings.ratio,
    settings.media_switch ? 'media--switch media--switch--' ~ settings.media_switch|clean_class,
    settings.player ? 'media--player',
    settings.responsive_image_style_id ? 'media--responsive'
  ]
%}
{%
  set content_classes = [
    'media__iframe',
    settings.ratio ? 'media__element'
  ]
%}

{% set player %}
  {% if settings.player %}
    <iframe{{ content_attributes.addClass(content_classes) }} allowfullscreen></iframe>
    {% if settings.media_switch %}
      <span class="media__icon media__icon--close"></span>
      <span class="media__icon media__icon--play"></span>
    {% endif %}
  {% endif %}
{% endset %}

{% set media %}
  <div{{ attributes.addClass(classes) }}>
    {{ image }}
    {{ player }}
    {{ settings.icon }}
  </div>
{% endset %}

{% if url and not settings.player %}
  <a href="{{ url }}"{{ url_attributes }}>{{ media }}</a>

  {# Allows fieldable captions with A tag, such as social share. #}
  {% if captions and captions.lightbox is defined %}
    <div class="litebox-caption visually-hidden">
      {{ captions.lightbox }}
    </div>
  {% endif %}

{% else %}
  {{ media }}
{% endif %}

{% if captions and captions.inline is defined %}
  <div{{ caption_attributes }}>
    {% for caption in captions.inline %}
      {% if caption.content %}
        <{{ caption.tag }} {{ caption.attributes }}>{{ caption.content }}</{{ caption.tag }}>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
